{% extends "wagtailadmin/base.html" %}
{% block titletag %}{{ current_year }} AWS Manager{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
        table.month {
            margin: 20px;
        }
        table.month td, table.month th {
            padding: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Resource Data" icon="date" %}
    <div class="nice-padding">
      <h1> AWS Access Key Data </h1>
        <button>Show Access Key</button>
<!--        <a href="{% url 'launcher' %}">Launch Instances</a>-->
<!--         <a href="{% url 'allinstances' %}">Get All Instances</a>-->
    </div>
{% endblock %}